{% extends 'myapp/base.html' %}

{% block content %}
	<h3>Courses Listing</h3>
	<p>Popular Python Libraries for Data Science</p>

	<div class="container-fluid">
		<div class="row">
			{% for pd in product %}<!-- product ก็คือตัว key ใน dictionary ที่อยู่ในไฟล์ views.py => context = {'product':product} -->
				<!--<h1>{{ pd.name }}</h1>
				<img src="{{ pd.imageurl }}" style="width:100px;height:50px";/>
				<p>{{ pd.price }}</p>
				<p>{{ pd.detail }}</p>
				<hr><br> -->
					<div class="col-sm-4">
							<div class="card" style="width:300px; height: 550px;">
								<!--<img class="card-img-top" src="{{ pd.imageurl }}" alt="Card image" style="width:100px;height:50px";/>-->
									{% if pd.image %}
										<img class="card-img-top" src="{{ pd.image.url }}" alt="Card image" style="width:100px;height:50px";/>
									{% elif pd.imageurl != None %}
										<img class="card-img-top" src="{{ pd.imageurl }}" alt="Card image" style="width:100px;height:50px";/>
									{% else %}
										<img class="card-img-top" src="/media/products/default.png" alt="Card image" style="width:100px;height:50px";/>
									{% endif %}

									<div class="card-body">
										<h1 class="card-title">{{ pd.name }}</h1>

										<p class="card-text">Course Price: {{ pd.price }} Baht</p>

										{% if pd.quantity > 0 %}
											<p class="card-text">Participants Avaliable: {{ pd.quantity }} {{ pd.unit }}</p>
										{% else %}
											<p class="card-text" style="color: red;font-weight: bold;">Course is Full: Prebooking only</p>
											<a href="#" class="btn btn-danger">Prebooking</a>
										{% endif %}

										<p class="card-text">{{ pd.detail | linebreaks |truncatechars_html:50}}</p> 
									</div>
									{% if pd.quantity > 0 %}

										{% if user.is_authenticated %}
											<a href="{% url 'addtocart-page' pd.id %}" class="btn btn-info">Enroll Now</a>
										{% else %}
											<a href="{% url 'login' %}" class="btn btn-info">Enroll Now</a>
										{% endif %}

									{% else %}
										<a href="#" class="btn btn-danger">Unavaliable</a>
									{% endif %}
							</div>
							<br><br>
					</div>
			{% endfor %}
		</div>
	</div>
{% endblock content %}

