{% extends 'myapp/base.html' %}

{% block content %}
	
	<div class="container" style = "margin-bottom: 50px ">
		<h2>Update Tracking number</h2>
		<p>ORDER ID: {{orderid}}</p>
		<form method="POST">
			{% csrf_token %}
			<div class="form-group">
				<label for="trackingnumber">Parcel / EMS / Register number</label>
				<input type="text" class="form-control" id="trackingnumber" name="trackingnumber">
			</div>

			<button type="submit" class="btn btn-primary">Submit</button>

		</form>
	</div>
{% endblock content %}
